## Tuple

In [1]:
point = (2, 3) 
point[0]

2

In [3]:
point[0] = 4

TypeError: 'tuple' object does not support item assignment

In [4]:
a, b = point
print(a, b)

2 3

In [21]:
point

(2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5)

In [ ]:
a, b, c, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _ = point ##ignore values while unpacking
print(a, b, c)

2 3 4

In [29]:
batch = [
    ([1.2, 3.4, 5.6], 0),
    ([2.1, 4.3, 6.5], 1),
    ([3.2, 5.4, 7.6], 0)
]

for features, Label in batch:
    print(features, Label)
    f1, f2, f3 = features
    print(f1, f2, f2)
    a = Label
    print(a)
    print(f1)
    print(f2)
    print(f3)

[1.2, 3.4, 5.6] 0
1.2 3.4 3.4
0
1.2
3.4
5.6
[2.1, 4.3, 6.5] 1
2.1 4.3 4.3
1
2.1
4.3
6.5
[3.2, 5.4, 7.6] 0
3.2 5.4 5.4
0
3.2
5.4
7.6

In [30]:
##Extract first and third element form the tuple
Num2 = (10, 20, 30, 40, 50, 60, 70, 80, 90)
first, *_, last = Num2
print(f"the fist and last elements are: {first}, {last}")

the fist and last elements are: 10, 90

In [32]:
fruits = {'apple', 'banana', 'cherry'}
print(type(fruits), fruits)

<class 'set'> {'apple', 'banana', 'cherry'}

In [33]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}
print(f"Union: {A.union(B)}")

Union: {1, 2, 3, 4, 5, 6}

In [41]:
A = {1, 2, 3, 4}
B = {3, 4}
print(f"subset:{B.issubset(A)}")
print(f"intersection: {(A.issuperset(B))}")

subset:True
intersection: True

In [43]:
print("=== Example 1: Building Vocabulary ===")
documents = [
    "machine learning is awesome",
    "deep learning is powerful",
    "machine learning and deep learning"
]

vocabulary = set()
for doc in documents:
    words = doc.lower().split()
    vocabulary.update(words)
    print(f"Updated vocabulary: {vocabulary}")

=== Example 1: Building Vocabulary ===
Updated vocabulary: {'machine', 'is', 'learning', 'awesome'}
Updated vocabulary: {'machine', 'deep', 'is', 'learning', 'awesome', 'powerful'}
Updated vocabulary: {'and', 'machine', 'deep', 'is', 'learning', 'awesome', 'powerful'}

In [44]:
# Dictionary methods
Score = {'Alice': 90, 'Bob': 85, 'Charlie': 92}
print(Score.keys())
print(Score.values())
print(Score.items())

dict_keys(['Alice', 'Bob', 'Charlie'])
dict_values([90, 85, 92])
dict_items([('Alice', 90), ('Bob', 85), ('Charlie', 92)])

In [45]:
for name in Score:
    print(f"{name}: {Score[name]}")

Alice: 90
Bob: 85
Charlie: 92

In [46]:
for student, score in Score.items():
    print(f"{student}: {score}")

Alice: 90
Bob: 85
Charlie: 92

In [49]:
new_score = {'David': 88}
Score.update(new_score)
print(Score)

{'Alice': 90, 'Bob': 85, 'Charlie': 92, 'David': 88}

In [50]:
# word fequency count
text = "data science is an interdisciplinary field that uses scientific methods processes algorithms and systems to extract knowledge and insights from structured and unstructured data"
word_freq = {}
for word in text.split():
    if word in word_freq:
        word_freq[word] += 1
    else:
        word_freq[word] = 1
print(word_freq)

{'data': 2, 'science': 1, 'is': 1, 'an': 1, 'interdisciplinary': 1, 'field': 1, 'that': 1, 'uses': 1, 'scientific': 1, 'methods': 1, 'processes': 1, 'algorithms': 1, 'and': 3, 'systems': 1, 'to': 1, 'extract': 1, 'knowledge': 1, 'insights': 1, 'from': 1, 'structured': 1, 'unstructured': 1}

In [53]:
from collections import Counter
word_freq = Counter(text.split())
print(word_freq)

Counter({'and': 3, 'data': 2, 'science': 1, 'is': 1, 'an': 1, 'interdisciplinary': 1, 'field': 1, 'that': 1, 'uses': 1, 'scientific': 1, 'methods': 1, 'processes': 1, 'algorithms': 1, 'systems': 1, 'to': 1, 'extract': 1, 'knowledge': 1, 'insights': 1, 'from': 1, 'structured': 1, 'unstructured': 1})

In [54]:
Score = {'Alice': 90, 'Bob': 85, 'Charlie': 92}
Passing_Score = {name: score for name, score in Score.items() if score >= 90}
print(Passing_Score)

{'Alice': 90, 'Charlie': 92}

In [ ]:
point = (2, 3)
rgb = (225, 0, 0)
single = (42,) # Typle with a single element, if there is no comma it will be considered as integer
empty = () # empty tuple
no_params = 1, 2, 3, 5 # Typle packing without parentheses

print(point)
print(rgb)
print(single)
print(empty)
print(no_params)

(2, 3)
(225, 0, 0)
(42,)
()
(1, 2, 3, 5)

In [57]:
#Accesssing tuple elements
print(point[0])
print(rgb[-1])
print(rgb[1:3])

2
0
(0, 0)

In [59]:
#Common operations on tuples
print(len(point))
print(max(rgb))
print(min(rgb))
print(rgb.count(225))
print(rgb.index(0))
print(point + (4, 5))
print(point * 2)

2
225
0
1
1
(2, 3, 4, 5)
(2, 3, 2, 3)

In [61]:
Image_shape = (256, 256, 3) # height, width, channels
height, width, channels = Image_shape
print(f"Height: {height}, width: {width}, channels: {channels}")

Height: 256, width: 256, channels: 3

In [62]:
coord1, coord2 = (10, 20), (30, 40)
coord2, coord1 = coord1, coord2
print(f"coord1: {coord1}, coord2: {coord2}")

coord1: (30, 40), coord2: (10, 20)

In [63]:
scores = (92, 85, 78, 95, 88)
first, _, _, _, last = scores
print(f"First score: {first}, Last score: {last}")

First score: 92, Last score: 88

In [65]:
from collections import namedtuple
Modelconfig = namedtuple('Modelconfig', ['learning_rate', 'batch_size', 'num_epochs'])
config = Modelconfig(0, 1, 2)
print(config)
print(f"Learning Rate: {config.learning_rate}, Batch Size: {config.batch_size}, Num Epochs: {config.num_epochs}")

Modelconfig(learning_rate=0, batch_size=1, num_epochs=2)
Learning Rate: 0, Batch Size: 1, Num Epochs: 2

In [70]:
grid = {}
grid[(0, 0)] = "A"
grid[(0, 1)] = "B"
grid[(1, 0)] = "C"
print(grid)
print(grid[(0, 1)])

{(0, 0): 'A', (0, 1): 'B', (1, 0): 'C'}
B

In [71]:
fruits = {'apple', 'banana', 'cherry'}
number = set[int]([1, 2, 3])
print(number)
'apple' in fruits
'cherry' in fruits

{1, 2, 3}

True

In [72]:
user_ids = [101, 102, 103, 102, 104, 101, 105, 103]
unique_user_ids = set(user_ids)
print(unique_user_ids)

{101, 102, 103, 104, 105}

In [74]:
class_A = {'Alice', 'Bob', 'Charlie', 'David'}
class_B = {'Charlie', 'David', 'Eve', 'Frank'}

common_students = class_A.intersection(class_B)
print(common_students)

{'David', 'Charlie'}

In [75]:
doc1 = "python is great for machine learning"
doc2 = "machine learning is powerful"

words_doc1 = set(doc1.lower().split())
words_doc2 = set(doc2.lower().split())
unique_user_ids = words_doc1 - words_doc2
print(unique_user_ids)

{'for', 'great', 'python'}