In [2]:
pip install pandas

Collecting pandas
  Downloading pandas-3.0.0-cp314-cp314-win_amd64.whl.metadata (19 kB)
Collecting numpy>=2.3.3 (from pandas)
  Downloading numpy-2.4.2-cp314-cp314-win_amd64.whl.metadata (6.6 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\surya\appdata\roaming\python\python314\site-packages (from pandas) (2.9.0.post0)
Collecting tzdata (from pandas)
  Downloading tzdata-2025.3-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\surya\appdata\roaming\python\python314\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-3.0.0-cp314-cp314-win_amd64.whl (9.9 MB)
   ---------------------------------------- 0.0/9.9 MB ? eta -:--:--
   ------------ --------------------------- 3.1/9.9 MB 22.4 MB/s eta 0:00:01
   ---------------------------------------- 9.9/9.9 MB 28.6 MB/s  0:00:00
Downloading numpy-2.4.2-cp314-cp314-win_amd64.whl (12.4 MB)
   ---------------------------------------- 0.0/12.4 MB ? eta -:--:--
   -------------------------- ------------- 8.4/12.4 MB 39.9 MB/s eta 0:00:01
   ---------------------------------------- 12.4/12.4 MB 37.5 MB/s  0:00:00
Downloading tzdata-2025.3-py2.py3-none-any.whl (348 kB)
Installing collected packages: tzdata, numpy, pandas

   ---------------------------------------- 0/3 [tzdata]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   ---------------------------------------- 3/3 [pandas]

Successfully installed numpy-2.4.2 pandas-3.0.0 tzdata-2025.3
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install numpy

Requirement already satisfied: numpy in c:\users\surya\appdata\local\programs\python\python314\lib\site-packages (2.4.2)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
import numpy as np

price_series = pd.Series([100, 200, 300, 400, 500], index=['A', 'B', 'c', 'D', 'E'])
print(price_series)

A    100
B    200
c    300
D    400
E    500
dtype: int64

In [5]:
price_series = pd.Series([100, 200, 300, 400, 500], index=['A', 'B', 'C', 'D', 'E'], name = 'Surya')
print(price_series)

A    100
B    200
C    300
D    400
E    500
Name: Surya, dtype: int64

In [6]:
print(f"mean of the series:{price_series.mean()}")

mean of the series:300.0

In [7]:
print(f"Most expensive item:{price_series.idxmax()} with price {price_series.max()}")

Most expensive item:E with price 500

In [9]:
Product_data = {
    'Product_ID': [101, 102, 103, 104],
    'Product_Name': ['Laptop', 'Smartphone', 'Tablet', 'Monitor'],
    'Price': [800, 600, 300, 400],
    'Stock': [50, 100, 150, 75]
}

product_df = pd.DataFrame(Product_data)
print(product_df)

   Product_ID Product_Name  Price  Stock
0         101       Laptop    800     50
1         102   Smartphone    600    100
2         103       Tablet    300    150
3         104      Monitor    400     75

In [12]:
print(product_df.shape)
print(list(product_df.columns))

(4, 4)
['Product_ID', 'Product_Name', 'Price', 'Stock']

In [69]:
np.random.seed(42)
n_per_class = 50

setosa = pd.DataFrame({
    'sepal_length': np.random.normal(5.0, 0.35, n_per_class),  ## using this mean and std dev generate 50 random values for each column
    'sepal_width': np.random.normal(3.4, 0.38, n_per_class),
    'petal_length': np.random.normal(1.5, 0.17, n_per_class),
    'petal_width': np.random.normal(0.25, 0.11, n_per_class),
    'species': 'setosa',
    'color': 'white'
})

# Versicolor (medium flowers)

versicolor = pd.DataFrame({
    'sepal_length': np.random.normal(5.9, 0.52, n_per_class),
    'sepal_width': np.random.normal(2.8, 0.31, n_per_class),
    'petal_length': np.random.normal(4.3, 0.47, n_per_class),
    'petal_width': np.random.normal(1.3, 0.20, n_per_class),
    'species': 'versicolor',
    'color' : 'red'
})

# Virginica (larger flowers)

virginica = pd.DataFrame({
    'sepal_length': np.random.normal(6.6, 0.64, n_per_class),
    'sepal_width': np.random.normal(3.0, 0.32, n_per_class),
    'petal_length': np.random.normal(5.5, 0.55, n_per_class),
    'petal_width': np.random.normal(2.0, 0.27, n_per_class),
    'species': 'virginica',
    'color' : 'black'
})

 

# Combine all

df_iris = pd.concat([setosa, versicolor, virginica], ignore_index=True)
print(df_iris)

     sepal_length  sepal_width  petal_length  petal_width    species  color
0        5.173850     3.523152      1.259387     0.277554     setosa  white
1        4.951607     3.253669      1.428490     0.288109     setosa  white
2        5.226691     3.142770      1.441739     0.175197     setosa  white
3        5.533060     3.632437      1.363613     0.275548     setosa  white
4        4.918046     3.791780      1.472581     0.282238     setosa  white
..            ...          ...           ...          ...        ...    ...
145      7.028590     3.172451      5.061708     1.862296  virginica  black
146      6.834623     2.668081      5.817390     1.927134  virginica  black
147      5.998477     2.939092      5.388325     1.735734  virginica  black
148      6.271125     2.719802      5.704130     1.880041  virginica  black
149      5.922103     2.557504      5.167808     2.101871  virginica  black

[150 rows x 6 columns]

In [17]:
df_iris.shape

(150, 5)

In [18]:
df_iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='str')

In [21]:
df_iris.head(10)

   sepal_length  sepal_width  petal_length  petal_width species
0      5.173850     3.523152      1.259387     0.277554  setosa
1      4.951607     3.253669      1.428490     0.288109  setosa
2      5.226691     3.142770      1.441739     0.175197  setosa
3      5.533060     3.632437      1.363613     0.275548  setosa
4      4.918046     3.791780      1.472581     0.282238  setosa
5      4.918052     3.753886      1.568689     0.171421  setosa
6      5.552724     3.081097      1.820652     0.455235  setosa
7      5.268602     3.282499      1.529678     0.302122  setosa
8      4.835684     3.525880      1.543784     0.118957  setosa
9      5.189896     3.770707      1.487344     0.322221  setosa

In [20]:
df_iris.tail(10)

     sepal_length  sepal_width  petal_length  petal_width    species
140      6.845802     2.997449      5.959631     2.019323  virginica
141      6.579075     3.473582      4.878661     1.871032  virginica
142      5.276837     3.024758      5.791392     2.129325  virginica
143      6.542963     2.724389      6.292863     2.090089  virginica
144      5.765140     3.487400      4.140596     2.280136  virginica
145      7.028590     3.172451      5.061708     1.862296  virginica
146      6.834623     2.668081      5.817390     1.927134  virginica
147      5.998477     2.939092      5.388325     1.735734  virginica
148      6.271125     2.719802      5.704130     1.880041  virginica
149      5.922103     2.557504      5.167808     2.101871  virginica

In [ ]:
df_iris.describe() #Stastical analysis

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.822797     3.059982      3.722070     1.201029
std        0.873636     0.421850      1.678461     0.747487
min        4.314115     1.795207      1.173809     0.083367
25%        5.075998     2.747947      1.591489     0.319673
50%        5.731060     3.046062      4.292210     1.324807
75%        6.446149     3.351060      5.038926     1.879024
max        7.918879     3.994565      6.550179     2.613087

In [23]:
df_iris.info() #important for null and data type check

<class 'pandas.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    str
dtypes: float64(4), str(1)
memory usage: 6.0 KB

In [32]:
print("unique value from the data table")

for col in df_iris.columns:
    #unique_value = len(set(df_iris[col]))
    unique_value = df_iris[col].nunique()
    print(f"{col}{unique_value}")

unique value from the data table
sepal_length150
sepal_width150
petal_length150
petal_width150
species3

In [34]:
df_iris[col].unique()

<StringArray>
['setosa', 'versicolor', 'virginica']
Length: 3, dtype: str

In [44]:
# Get all the sepal length value that are > 6.5
#df_iris["petal_length"] > 6.5 # in pandas internally loop will happen
df_iris[df_iris["petal_length"] > 6.5] # to get the values we need to use square brackets

     sepal_length  sepal_width  petal_length  petal_width    species
101        6.2164     3.305646      6.550179     1.957967  virginica

In [98]:
df_iris[df_iris["petal_width"] < 1][["petal_width", "petal_length"]] # we need to put duble bracket when we need to access multiple columns

    petal_width  petal_length
0      0.277554      1.259387
1      0.288109      1.428490
2      0.175197      1.441739
3      0.275548      1.363613
4      0.282238      1.472581
5      0.171421      1.568689
6      0.455235      1.820652
7      0.302122      1.529678
8      0.118957      1.543784
9      0.322221      1.487344
10     0.142785      1.173809
11     0.336579      1.495493
12     0.377446      1.510239
13     0.159725      1.918751
14     0.355971      1.467299
15     0.295406      1.551263
16     0.340427      1.494099
17     0.458647      1.301325
18     0.223007      1.694280
19     0.167089      1.627829
20     0.152153      1.634475
21     0.160261      1.345404
22     0.241519      1.738475
23     0.287527      1.261685
24     0.280436      1.599766
25     0.340990      1.872377
26     0.251430      1.331609
27     0.409889      1.403729
28     0.220888      1.516941
29     0.549219      1.414409
30     0.318823      1.236387
31     0.155713      1.511656
32     0.132202      1.319408
33     0.303072      1.580511
34     0.225419      1.343698
35     0.328540      1.763489
36     0.302056      1.366847
37     0.241989      1.445250
38     0.156853      1.638298
39     0.083367      1.290753
40     0.200883      1.538668
41     0.344204      1.722214
42     0.273550      1.226728
43     0.112969      1.531388
44     0.269050      1.544180
45     0.292385      1.632910
46     0.152776      1.289718
47     0.266910      1.275522
48     0.256403      1.588730
49     0.124273      1.550487
82     0.875221      4.335628
96     0.957373      3.619400

In [54]:
df_iris[(df_iris["sepal_length"] > 6) & (df_iris["petal_length"] > 5)]

     sepal_length  sepal_width  petal_length  petal_width    species
101      6.216400     3.305646      6.550179     1.957967  virginica
103      6.630068     3.161295      5.809633     2.068694  virginica
104      6.311958     2.830318      5.142147     2.091153  virginica
105      6.998624     2.746281      5.232081     1.888793  virginica
107      6.508877     2.668722      5.024805     1.883209  virginica
108      6.676989     2.822832      5.526687     2.106502  virginica
109      6.929241     2.616679      5.042977     1.886334  virginica
110      7.055434     3.628712      5.648751     2.078239  virginica
113      7.417713     3.068474      5.000840     1.911974  virginica
114      6.812681     2.964055      5.182776     2.324328  virginica
115      6.120969     2.929290      5.915465     1.889820  virginica
116      7.592737     3.196533      5.775504     1.449706  virginica
118      7.354750     2.830240      5.554633     1.494886  virginica
119      6.643212     2.815738      5.913263     1.905091  virginica
121      7.723418     2.263385      5.798848     2.452638  virginica
122      6.440663     2.515139      5.135557     2.088270  virginica
123      7.221805     3.437400      5.813829     1.940843  virginica
124      7.013041     3.526390      5.080207     2.223940  virginica
127      7.039073     3.099600      5.526447     2.208134  virginica
128      7.277392     3.985242      5.642847     1.600782  virginica
132      6.427580     2.485937      5.463656     2.170851  virginica
134      7.561509     2.757968      5.141490     2.049104  virginica
135      6.647421     2.544879      5.526069     2.067020  virginica
136      7.642314     2.793097      5.026773     1.875973  virginica
139      6.564449     3.282125      5.182709     1.768857  virginica
140      6.845802     2.997449      5.959631     2.019323  virginica
143      6.542963     2.724389      6.292863     2.090089  virginica
145      7.028590     3.172451      5.061708     1.862296  virginica
146      6.834623     2.668081      5.817390     1.927134  virginica
148      6.271125     2.719802      5.704130     1.880041  virginica

In [55]:
df_iris[(df_iris["petal_length"] > 2) | (df_iris["petal_width"] > 3)]

     sepal_length  sepal_width  petal_length  petal_width     species
50       6.086049     2.409126      3.910372     1.362182  versicolor
51       6.191608     3.084537      4.036715     1.595071  versicolor
52       6.463187     3.457868      4.651228     1.471532  versicolor
53       6.447977     3.120064      4.586874     1.268012  versicolor
54       5.183612     2.328995      4.290176     1.296197  versicolor
..            ...          ...           ...          ...         ...
145      7.028590     3.172451      5.061708     1.862296   virginica
146      6.834623     2.668081      5.817390     1.927134   virginica
147      5.998477     2.939092      5.388325     1.735734   virginica
148      6.271125     2.719802      5.704130     1.880041   virginica
149      5.922103     2.557504      5.167808     2.101871   virginica

[100 rows x 5 columns]

In [100]:
df_iris[df_iris["species"].isin(["versicolor"])]

,sepal_length,sepal_width,petal_length,petal_width,species,color,salary
50,6.086049,2.409126,3.910372,1.362182,versicolor,red,2000
51,6.191608,3.084537,4.036715,1.595071,versicolor,red,2000
52,6.463187,3.457868,4.651228,1.471532,versicolor,red,2000
53,6.447977,3.120064,4.586874,1.268012,versicolor,red,2000
54,5.183612,2.328995,4.290176,1.296197,versicolor,red,2000
55,5.412331,2.649887,4.355144,1.099494,versicolor,red,2000
56,6.167818,3.192742,4.900503,1.296297,versicolor,red,2000
57,6.167169,2.580622,4.021961,1.242268,versicolor,red,2000
58,6.167825,2.937584,4.557136,1.364544,versicolor,red,2000
59,7.903420,3.040137,4.204969,1.134554,versicolor,red,2000
60,6.196863,2.512652,4.197690,1.403869,versicolor,red,2000
61,6.490494,2.781547,4.816425,1.606548,versicolor,red,2000
62,6.396081,1.795207,4.687946,1.278248,versicolor,red,2000
63,6.238723,2.482440,4.682350,1.380342,versicolor,red,2000
64,5.736060,2.721704,4.913575,1.438029,versicolor,red,2000
65,6.294664,2.413187,4.309872,1.219756,versicolor,red,2000
66,5.498131,3.306048,4.620518,1.344818,versicolor,red,2000
67,5.776854,2.356656,4.154175,1.302518,versicolor,red,2000
68,5.647611,2.663586,4.452358,1.319535,versicolor,red,2000
69,5.942575,2.840530,4.238833,1.145398,versicolor,red,2000
70,7.103622,3.246795,4.345588,1.304902,versicolor,red,2000
71,4.929022,2.354883,4.579724,1.399600,versicolor,red,2000
72,6.256855,3.160581,3.915436,1.590229,versicolor,red,2000
73,5.061388,2.803172,5.283422,1.491854,versicolor,red,2000
74,5.654595,2.495732,3.827172,1.730636,versicolor,red,2000
75,6.466254,2.943252,3.729331,1.146530,versicolor,red,2000
76,5.933426,2.861709,4.844312,1.474464,versicolor,red,2000
77,5.339573,2.613933,4.672081,1.336668,versicolor,red,2000
78,5.528042,2.821639,4.593336,1.737961,versicolor,red,2000
79,6.253391,2.680553,4.595322,1.138340,versicolor,red,2000
80,5.520209,2.835190,4.294244,1.132056,versicolor,red,2000
81,6.012558,3.005261,3.878290,1.180121,versicolor,red,2000
82,5.923697,3.291665,4.335628,0.875221,versicolor,red,2000
83,5.561168,2.416277,3.981734,1.194849,versicolor,red,2000
84,7.014851,3.461240,4.758306,1.148173,versicolor,red,2000
85,6.229638,2.194853,4.230883,1.330079,versicolor,red,2000
86,4.846926,2.752947,3.912016,1.368351,versicolor,red,2000
87,5.996956,2.982378,4.148949,1.675234,versicolor,red,2000
88,5.555871,2.887107,4.494078,1.490085,versicolor,red,2000
89,6.343265,2.606963,4.035049,1.184619,versicolor,red,2000
90,5.487889,2.735482,3.913556,1.120317,versicolor,red,2000
91,5.840337,2.647170,4.414533,1.398384,versicolor,red,2000
92,6.162593,2.617297,4.415134,1.035953,versicolor,red,2000
93,6.350193,3.063377,4.061737,1.666292,versicolor,red,2000
94,5.275846,2.910675,4.078612,1.535888,versicolor,red,2000
95,5.726059,2.585198,4.409063,1.206165,versicolor,red,2000
96,5.653028,3.078876,3.619400,0.957373,versicolor,red,2000
97,5.560269,2.895263,3.638492,1.570774,versicolor,red,2000
98,6.818036,3.051987,3.962331,1.277092,versicolor,red,2000
99,6.110590,2.995185,4.199680,1.547563,versicolor,red,2000

In [58]:
df_iris.groupby("species")["petal_length"].mean()

species
setosa        1.493321
versicolor    4.315125
virginica     5.357765
Name: petal_length, dtype: float64

In [102]:
df_iris.groupby("species")[["petal_length", "sepal_length", "petal_width", "salary"]].mean()

            petal_length  sepal_length  petal_width  salary
species
setosa          1.493321      4.921084     0.259229  2000.0
versicolor      4.315125      5.978504     1.336300  2000.0
virginica       5.357765      6.568804     2.007559  2000.0

In [ ]:
#Named aggregations
df_iris.groupby("species").agg(
    avg_petal_len = ("petal_length", "mean"),
    count_sepal_len = ("sepal_length", "count")
)

            avg_petal_len  count_sepal_len
species
setosa           1.493321               50
versicolor       4.315125               50
virginica        5.357765               50

In [70]:
#Multicolumn grouping

df_iris.groupby(["species", "color"]).agg(
    avg_petal_len = ("petal_length", "mean"),
    count_sepal_len = ("sepal_length", "count")
)

                  avg_petal_len  count_sepal_len
species    color
setosa     white       1.493321               50
versicolor red         4.315125               50
virginica  black       5.357765               50

In [72]:
df_iris.groupby(["species", "color"])["petal_length"].mean()

species     color
setosa      white    1.493321
versicolor  red      4.315125
virginica   black    5.357765
Name: petal_length, dtype: float64

In [71]:
##Static Value column
df_iris["salary"] = 2000
df_iris

,sepal_length,sepal_width,petal_length,petal_width,species,color,salary
0,5.173850,3.523152,1.259387,0.277554,setosa,white,2000
1,4.951607,3.253669,1.428490,0.288109,setosa,white,2000
2,5.226691,3.142770,1.441739,0.175197,setosa,white,2000
3,5.533060,3.632437,1.363613,0.275548,setosa,white,2000
4,4.918046,3.791780,1.472581,0.282238,setosa,white,2000
...,...,...,...,...,...,...,...
145,7.028590,3.172451,5.061708,1.862296,virginica,black,2000
146,6.834623,2.668081,5.817390,1.927134,virginica,black,2000
147,5.998477,2.939092,5.388325,1.735734,virginica,black,2000
148,6.271125,2.719802,5.704130,1.880041,virginica,black,2000
149,5.922103,2.557504,5.167808,2.101871,virginica,black,2000

In [78]:
np.random.seed(42)
n_wines = 200

df_wine = pd.DataFrame({
# pd.DataFrame: Creates a 2D labeled data structure (like a table/spreadsheet)
    'alcohol': np.random.uniform(8, 15, n_wines),
    # np.random: NumPy random number generation functions
    'acidity': np.random.uniform(2.5, 4.0, n_wines),
    # np.random: NumPy random number generation functions
    'pH': np.random.uniform(2.8, 3.8, n_wines),
    # np.random: NumPy random number generation functions
    'density': np.random.uniform(0.99, 1.00, n_wines),
    # np.random: NumPy random number generation functions
    'sulphates': np.random.uniform(0.3, 1.5, n_wines),
    # np.random: NumPy random number generation functions
    'residual_sugar': np.random.uniform(1, 15, n_wines),
    # np.random: NumPy random number generation functions
})

df_wine

       alcohol   acidity        pH   density  sulphates  residual_sugar
0    10.621781  3.463047  2.903124  0.991689   1.148686        3.591861
1    14.655000  2.626210  3.702553  0.992786   0.483047        8.586613
2    13.123958  2.742443  3.305252  0.991770   0.991546       13.221242
3    12.190609  3.847831  3.626457  0.990887   1.028058       11.251148
4     9.092130  3.409644  3.120050  0.991206   0.808957       12.291856
..         ...       ...       ...       ...        ...             ...
195  10.444467  3.896136  3.273962  0.998721   0.409898       13.201515
196  13.081690  3.787619  3.467558  0.999321   1.400776       14.628846
197  14.279772  3.143491  2.972320  0.995651   0.464182       14.564290
198  14.209605  3.626307  2.992289  0.996967   1.440285       11.495126
199  13.459129  3.631814  2.840869  0.999225   0.835207        2.821207

[200 rows x 6 columns]

In [80]:
df_wine['quality'] = (
    (df_wine['alcohol'] * 0.5) + 
    (df_wine['sulphates'] * 2) - 
    (df_wine['acidity'] * 0.5) + 
    np.random.normal(0, 1, n_wines))

df_wine

,alcohol,acidity,pH,density,sulphates,residual_sugar,quality
0,10.621781,3.463047,2.903124,0.991689,1.148686,3.591861,5.812601
1,14.655000,2.626210,3.702553,0.992786,0.483047,8.586613,7.309251
2,13.123958,2.742443,3.305252,0.991770,0.991546,13.221242,7.495207
3,12.190609,3.847831,3.626457,0.990887,1.028058,11.251148,6.649426
4,9.092130,3.409644,3.120050,0.991206,0.808957,12.291856,6.072868
...,...,...,...,...,...,...,...
195,10.444467,3.896136,3.273962,0.998721,0.409898,13.201515,4.580464
196,13.081690,3.787619,3.467558,0.999321,1.400776,14.628846,7.513062
197,14.279772,3.143491,2.972320,0.995651,0.464182,14.564290,4.521039
198,14.209605,3.626307,2.992289,0.996967,1.440285,11.495126,7.232883
199,13.459129,3.631814,2.840869,0.999225,0.835207,2.821207,6.439984

In [85]:
df_wine["wine_type"] = np.random.choice(["Red", "Blue", "Black"], n_wines, p=[0.5, 0.4, 0.1])
df_wine

,alcohol,acidity,pH,density,sulphates,residual_sugar,quality,wine_type
0,10.621781,3.463047,2.903124,0.991689,1.148686,3.591861,5.812601,Red
1,14.655000,2.626210,3.702553,0.992786,0.483047,8.586613,7.309251,Blue
2,13.123958,2.742443,3.305252,0.991770,0.991546,13.221242,7.495207,Red
3,12.190609,3.847831,3.626457,0.990887,1.028058,11.251148,6.649426,Red
4,9.092130,3.409644,3.120050,0.991206,0.808957,12.291856,6.072868,Blue
...,...,...,...,...,...,...,...,...
195,10.444467,3.896136,3.273962,0.998721,0.409898,13.201515,4.580464,Blue
196,13.081690,3.787619,3.467558,0.999321,1.400776,14.628846,7.513062,Blue
197,14.279772,3.143491,2.972320,0.995651,0.464182,14.564290,4.521039,Black
198,14.209605,3.626307,2.992289,0.996967,1.440285,11.495126,7.232883,Red
199,13.459129,3.631814,2.840869,0.999225,0.835207,2.821207,6.439984,Red

In [86]:
df_wine.shape

(200, 8)

In [87]:
df_wine.columns

Index(['alcohol', 'acidity', 'pH', 'density', 'sulphates', 'residual_sugar',
       'quality', 'wine_type'],
      dtype='str')

In [90]:
len(df_wine[df_wine["wine_type"]=="Black"])

21

In [91]:
df_wine["wine_type"].value_counts()

wine_type
Red      105
Blue      74
Black     21
Name: count, dtype: int64

In [92]:
df_wine

,alcohol,acidity,pH,density,sulphates,residual_sugar,quality,wine_type
0,10.621781,3.463047,2.903124,0.991689,1.148686,3.591861,5.812601,Red
1,14.655000,2.626210,3.702553,0.992786,0.483047,8.586613,7.309251,Blue
2,13.123958,2.742443,3.305252,0.991770,0.991546,13.221242,7.495207,Red
3,12.190609,3.847831,3.626457,0.990887,1.028058,11.251148,6.649426,Red
4,9.092130,3.409644,3.120050,0.991206,0.808957,12.291856,6.072868,Blue
...,...,...,...,...,...,...,...,...
195,10.444467,3.896136,3.273962,0.998721,0.409898,13.201515,4.580464,Blue
196,13.081690,3.787619,3.467558,0.999321,1.400776,14.628846,7.513062,Blue
197,14.279772,3.143491,2.972320,0.995651,0.464182,14.564290,4.521039,Black
198,14.209605,3.626307,2.992289,0.996967,1.440285,11.495126,7.232883,Red
199,13.459129,3.631814,2.840869,0.999225,0.835207,2.821207,6.439984,Red

In [96]:
df_wine.select_dtypes(include = [np.number]).corr()["quality"].sort_values(ascending=False)

quality           1.000000
alcohol           0.584270
sulphates         0.511358
residual_sugar    0.015148
pH               -0.016436
density          -0.063522
acidity          -0.219804
Name: quality, dtype: float64